{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="**Краткое описание**">
    <title>Барбершоп Легенда</title>
    <link rel="icon" href="{% static 'src/favicon.png' %}" type="image">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
</head>
<body class="wrapper">
  <header class="">
    <div class="container head-container">
      <div class="" style="width:360px">
        <img src="{% static 'src/phone.png' %}" style="width:25px; height:25px; margin-left:20px">
        <p class="phone" style="padding-top:20px">+7 (904) 217-64-49</p>
        <img src="{% static 'src/vk.png' %}" style="width:30px; height:30px; margin-left:30px">
        <img src="{% static 'src/tg.png' %}" style="width:30px; height:30px; margin-left:10px">
      </div>
      <div style="width:360px"><img src="{% static 'src/HM_W.png' %}" style="width:120px; height:120px"></div>
      <div style="width:360px"><p class="phone">улица Коллонтай, 28к1, Санкт-Петербург</p></div>
    </div>
  </header>

  <main class="container">
    <p style="margin-top: 150px;">Барбершоп Hot Mode - это стильное и комфортное пространство, где каждый мужчина может получить профессиональный уход за волосами, бородой и усами. Мастера Hot Mode обладают большим опытом и мастерством, чтобы предложить своим клиентам самые актуальные и модные стрижки, оформление бороды и бритье.</p>
    <p>Интерьер барбершопа выполнен в современном стиле, сочетающем в себе минимализм и элементы лофта. Пространство наполнено светом, а удобные кожаные кресла создают атмосферу уюта и комфорта. В Hot Mode вы сможете отдохнуть от повседневной суеты, насладиться приятной музыкой и пообщаться с мастерами на различные темы.</p>
    <p>Мастера барбершопа помогут подобрать идеальный образ, учитывая ваши индивидуальные особенности и предпочтения.</p>
    <p>Для постоянных клиентов действует система лояльности, включающая скидки на услуги, а также возможность участвовать в различных акциях и мероприятиях, проводимых в барбершопе.</p>
    <p style="margin-bottom: 150px;">Барбершоп Hot Mode станет идеальным местом для тех, кто ценит свое время, хочет выглядеть стильно и ухоженно, а также насладиться комфортом и профессионализмом мастеров. Приходите и убедитесь в этом сами!</p>
    {% if services %}
      <h2 class="services">
        <b></b>
        <span class="services-title">Цены барбершопа</span>
        <b></b>
      </h2>
      <table width="509">
        <tbody>
          <tr>
            <td width="445">
              <h2>Услуги барбера</h2>
            </td>
            <td width="64">
              <h2>Стоимость</h2>
            </td>
          </tr>
          {% for service in services %}
            <tr>
              <td width="445">{{ service.name }}</td>
              <td width="64">{{ service.price }} р.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>  
    {% endif %}
    {% if promotions %}
      <h2 class="services" style="margin-top: 40px">
        <b></b>
        <span class="services-title">Акции</span>
        <b></b>
      </h2>
      <table width="509">
        <tbody>
          {% for promotion in promotions %}
            <tr>
              <td width="109">{{ promotion.name }}</td>
              <td width="400">{{ promotion.description }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    <!-- Карта -->
    <div style="position:relative;overflow:hidden;margin-top: 40px;">
      <a href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">
        Санкт‑Петербург
      </a>
      <a href="https://yandex.ru/maps/2/saint-petersburg/?from=mapframe&ll=30.480749%2C59.922824&mode=routes&rtext=~59.922824%2C30.480749&rtt=pd&ruri=~ymapsbm1%3A%2F%2Forg%3Foid%3D211442931255&source=mapframe&utm_medium=mapframe&utm_source=maps&z=20.8" style="color:#eee;font-size:12px;position:absolute;top:14px;">
        Яндекс Карты
      </a>
      <iframe src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=30.480749%2C59.922824&mode=routes&rtext=~59.922824%2C30.480749&rtt=pd&ruri=~ymapsbm1%3A%2F%2Forg%3Foid%3D211442931255&source=mapframe&utm_source=mapframe&z=20.8" width="80%" height="500" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
    </div>
    <!-- Отзывы -->
    <div style="display: flex;justify-content: center;">
        <div style="width:560px;height:500px;overflow:hidden;position:relative;">
        <iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box" src="https://yandex.ru/maps-reviews-widget/211442931255?comments"></iframe>
        <a href="https://yandex.ru/maps/org/hot_mode/211442931255/" target="_blank" style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">
          Hot Mode на карте Санкт‑Петербурга — Яндекс Карты
        </a>
      </div>
    </div>
    {% if haircuts %}
      <h2 class="services" style="margin-top: 40px">
        <b></b>
        <span class="services-title">Работы</span>
        <b></b>
      </h2>
      {% for haircut in haircuts %}
        {% thumbnail haircut.image "200x200" crop="center" upscale=True as im %}
          {% comment %} <img class="card-img my-2" src="{{ im.url }}" width=100 height=100> {% endcomment %}
          <img class="" src="{{ im.url }}" width=200 height=200>
        {% endthumbnail %}
      {% endfor %}
    {% endif %}
    {% if barbers %}
      <h2 class="services" style="margin-top: 25px">
        <b></b>
        <span class="services-title">Наши мастера</span>
      </h2>
      {% for barber in barbers %}
        {% thumbnail barber.photo "200x200" crop="center" upscale=True as im %}
          <img class="" src="{{ im.url }}" width=200 height=200>
        {% endthumbnail %}
        <p>{{ barber.name }}</p>
        <p>{{ barber.description }}</p>
      {% endfor %}
    {% endif %}
  </main>
  
  <footer class="container head-container" style="margin-top:50px">
    <div class="" style="width:360px">
      <img src="{% static 'src/phone.png' %}" style="width:25px; height:25px; margin-left:20px">
      <p class="phone" style="padding-top:20px">+7 (904) 217-64-49</p>
      <img src="{% static 'src/vk.png' %}" style="width:30px; height:30px; margin-left:30px">
      <img src="{% static 'src/tg.png' %}" style="width:30px; height:30px; margin-left:10px">
    </div>
    <div style="width:360px"><img src="{% static 'src/HM_W.png' %}" style="width:120px; height:120px"></div>
    <div style="width:360px"><p class="phone">улица Коллонтай, 28к1, Санкт-Петербург</p></div>
  </footer>
  
  <script type="text/javascript" src="https://w910348.yclients.com/widgetJS" charset="UTF-8"></script>
</body>
</html>